<a href="https://colab.research.google.com/github/notajosh/Machine-Learning-Study-Group-GDGoC-TelU-Bandung-2025/blob/main/Week-1/W1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Variable

In [ ]:
#Python Variable
nama = "budi"
umur = 21
print("Nama:", nama)
print(umur)

nilai_y = 15 #menggunakan underscore
print(nilai_y)

Nama: budi
21
15

In [ ]:
#Tipe Data
data_integer = 11
print("data:", data_integer, "bertipe", type(data_integer))

data_float = 1.5
print("data:", data_float, "bertipe", type(data_float))

data_strings = "ucup"
print("data:", data_strings, "bertipe", type(data_strings))

data: 11 bertipe <class 'int'>
data: 1.5 bertipe <class 'float'>
data: ucup bertipe <class 'str'>

In [ ]:
#List
mix = [1, "halo", True, 4,14]
print(mix)

buah = ["pisang", "alpukat", "jambu"]
print(len(buah))
buah.append("mangga")
print(buah)

print(len(buah))

[1, 'halo', True, 4, 14]
3
['pisang', 'alpukat', 'jambu', 'mangga']
4

In [ ]:
#Tuple
identitas = ("siti", 20, "jakarta")
print(identitas[0])
# identitas[0] = "budi" # Tidak bisa diakses (immutable)

siti

In [ ]:
#Set
buah = {"pisang", "apel", "pisang", "jeruk"}
print(buah)

{'pisang', 'apel', 'jeruk'}

In [ ]:
#Dictionary
orang = {
    "nama": "budi",
    "umur": 20,
    "alamat": "jakarta"
}
print(orang["nama"])
orang["alamat"] = "bandung"
print(orang)

budi
{'nama': 'budi', 'umur': 20, 'alamat': 'bandung'}

In [ ]:
#Casting
a = int(3.99)
b = float(3)
c = str(3)
print(a, b, c)

3 3.0 3

In [ ]:
x = 10
y = 5

print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y)

15
5
50
2.0
0

In [ ]:
x = 20
y = 2

print("x == y", x == y)
print("x != y", x != y)
print("x > y", x > y)
print("x < y", x < y)
print("x >= y", x >= y)
print("x <= y", x <= y)

x == y False
x != y True
x > y True
x < y False
x >= y True
x <= y False

In [ ]:
#Menulis file
file = open("test.txt", "w")
file.write("Halo Dunia")
file.close()

In [ ]:
with open("test.txt", "r") as file:
  print(file.read())

Halo Dunia

In [ ]:
with open("test.txt", "a") as file:
  file.write("\nHalo telkom")

In [ ]:
jml_siswa = int(input("Masukkan Jumlah Siswa: "))

if jml_siswa > 10:
  print("Jumlah siswa terlalu banyak")

Masukkan Jumlah Siswa: 50
Jumlah siswa terlalu banyak

In [ ]:
nilai = int(input("Masukkan nilai Siswa: "))
kkm = 75

if(nilai >= kkm):
  print("Siswa Lulus")
else:
  print("Siswa Tidak Lulus")

Masukkan nilai Siswa: 75
Siswa Lulus

In [ ]:
nilai = int(input("Masukkan Nilai Siswa:"))
if(90 <= nilai <= 100):
  print("Predikat A")
elif(80 <= nilai <= 89):
  print("Predikat B")
elif(65 <= nilai <= 79):
  print("Predikat C")
elif(40 <= nilai <= 64):
  print("Predikat D")
elif(0 <= nilai <= 39):
  print("Predikat E")
else:
  print("Nilai Tidak Valid"   )

Masukkan Nilai Siswa:75
Predikat C